body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 70px;
}

a {
  text-decoration: none;
  color: black;
}

/* Navigation */

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  margin: 0;
  align-items: center;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-items {
  display: flex;
  margin: 5px;
}

.logo {
  width: 250px;
}

.log-in {
  margin-left: 10px;
  background-color: #396c93;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.subscribe-now {
  background-color: rgb(224, 122, 5);
  color: white;
  padding: 9px;
  border: 1px solid greenyellow;
  border-radius: 5px;
  font-weight: bold;
}

.search-icon {
  margin-right: 10px;
  align-self: center;
  border: none;
  background-color: white;
}

.search-icon:hover {
  background-color: lightgrey;
  padding: 10px;
  border-radius: 5px;
}

/* Header */

header {
  width: 50%;
  margin: auto;
  font-style: italic;
  margin-top: 70px;
}

.header-icons {
  margin-top: 30px;
}

.social-icon {
  border: none;
  padding: 10px;
  border-radius: 25px;
}

/* Image Section banner */

.image-banner {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  display: block;
}

.fig-image {
  margin: auto;
  margin-top: 20px;
  width: 80%;
}

figcaption {
  width: 80%;
  margin-top: 15px;
}

span {
  color: gray;
}

/* Main Section */

#main {
  width: 50%;
  margin: auto;
  margin-top: 80px;
}

#main2 {
  width: 50%;
  margin: auto;
  margin-top: 80px;
}

.author {
  margin-bottom: 40px;
}

.sign-up {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.sign-up p {
  width: 89%;
}

.sign-up span {
  font-weight: bold;
  color: black;
}

.sign-up button {
  border: 2px solid black;
  padding: 5px;
  background-color: white;
}

.content {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
}

.shorter {
  width: 20%;
}

.blue {
  color: rgb(89, 89, 150);
}

.thanks {
  margin: auto;
  width: 40%;
  text-align: center;
}

.special {
  color: black;
  font-weight: bold;
}

iframe {
  margin-top: 20px;
  width: 100%;
}

.youtube {
  font-size: 14px;
}

.sate-caption {
  font-size: 14px;
}

.satelite {
  margin-top: 50px;
  width: 100%;
}

/* Editors picks */
.editors-picks {
  font-size: 20px;
  line-height: 25px;
  width: 50%;
  margin: auto;
  margin-bottom: -80px;
  margin-top: 30px;
}

aside {
  width: 20%;
  float: right;
  margin-left: 30px;
  margin-right: 40px;
}

.row-flex {
  display: flex;
  margin-bottom: 8px;
}

.column {
  flex: 50%;
}

.column-flex {
  padding-left: 10px;
  font-size: 14px;
}

.loader {
  width: 100%;
}

.editor-content {
  width: 50%;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
}

.short-ed {
  width: 90%;
}

#grid {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: -50px;
}

.wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: #fff;
  color: #444;
}

/* Suggested -- Newsletter */
.suggestions {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.suggested-grid {
  flex-basis: 75%;
  border-top: 1px solid black;
}

.suggested-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-suggestions {
  flex-basis: 20%;
  border-top: 1px solid black;
}

.grid-item {
  border: 1px solid black;
  padding: 8px;
  margin: 10px;
}

.image-1 {
  width: 30%;
  height: 40%;
}

.paragraph {
  margin-top: -1px;
  font-size: 12px;
}

.breaking {
  margin-top: -15px;
  font-size: 18px;
}

.alerts {
  margin-top: -15px;
  font-size: 17px;
}

.news {
  margin-top: -12px;
  margin-bottom: -10px;
}

.bottom {
  margin-bottom: 10px;
}

.suggested-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.content-flex {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  width: 30%;
}

.space-and-astronomy {
  border-top: 1px solid black;
  display: flex;
}

.card {
  width: 32.5%;
}

.card-style {
  width: 100%;
}

.card2 {
  margin-left: 10px;
}

.sc-flex {
  display: flex;
  justify-content: flex-start;
}

/* Footer */

footer {
  width: 90%;
  margin: auto;
}

.bold {
  border: 3px solid lightgrey;
}

.float-link {
  float: right;
}

.inline {
  display: inline;
}

.other-sections {
  display: flex;
  justify-content: space-between;
}

.block {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

.subscribe {
  justify-content: left;
  flex-basis: 15%;
  padding: 0 10px;
}

.icon-inline {
  display: inline;
}

.subscribe a {
  margin-left: 1px;
  border: none;
}

.top {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.other-links {
  margin-top: 20px;
}

.blocks {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding-bottom: 10px;
}

.subscribe-class {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.sub-bold {
  font-weight: bold;
  color: black;
}

.no-padding {
  margin: 0;
  padding: 10px;
}

.no-margin {
  margin: 0;
}

/* ANOTHER PAGE ---------- FORM.HTML */

.subscribe-form2 {
  margin-top: 70px !important;
  width: 50%;
  margin: auto;
  background-color: lightgrey;
  padding: 30px;
}

.fieldset-form {
  border: 3px solid white;
}

.form-input {
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  padding: 5px;
}

.text-area {
  width: 100%;
}

.submit {
  color: white;
  background-color: #444;
  font-size: 18px;
  padding: 14px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}